@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  color: #111827;
}

* {
  box-sizing: border-box;
}
