@import "tailwindcss";

/* Optional global resets and basic styling */
html,
body {
  padding: 0;
  margin: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  background-color: #f9fafb;
  color: #111827;
}

* {
  box-sizing: border-box;
}
